body {
    background-color: rgb(22, 16, 50);
    /*change background based on the theme*/
  }
  h1 {
    color: rgb(255, 102, 110);
    font-family: monospace;
    font-size: 500%;
    text-align: center;
  }
  p {
    color: rgb(255, 197, 58);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    border: 2px solid rgb(255, 102, 110);
    padding: 10px;
    text-align: center;
    margin: 250px;
  }
  button{
    background-color: rgb(255, 197, 58);
    font-family: monospace;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    border:none;
    cursor: pointer;

    position: fixed;
    bottom:10%;
    width:50%;
    left:25%;
    padding: 10px 0px;
  }
  button:hover{
    background-color:  rgb(255, 226, 157);
  }
  button:active{
    background-color:  rgb(209, 174, 92);
  }